{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dias</th>
                <th>Costorentas</th>
                <th>Fecharenta</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reserva in reservas %}
            <tr>
                <td><a href="{{ path('reserva_show', { 'id': reserva.id }) }}">{{ reserva.id }}</a></td>
                <td>{{ reserva.dias }}</td>
                <td>{{ reserva.costoRentas }}</td>
                <td>{% if reserva.fechaRenta %}{{ reserva.fechaRenta|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reserva.estado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reserva_show', { 'id': reserva.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reserva_edit', { 'id': reserva.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reserva_new') }}">Create a new reserva</a>
        </li>
    </ul>
{% endblock %}
